/* MS in US style starts: */


/* Circle 1 */
 .modal-header
  {
  background-color: #33CC66;
  }
  .log
  {
  width:450px;
  }
 .btn-sm
 {
   width:150px;
   border-radius:14px;
   }
.circ, .circl, .circle{
    width : 150px;
    vertical-align: middle;
    border-radius: 50%;
    height: 150px;
    background-color: white;
    font-size: 20px;
    line-height: 150px;
    font-weight: bold;
    box-shadow: 0 0 0 15px gray;
    transition: box-shadow 0.3s;
}
.circ:hover{
    box-shadow: 0 0 0 20px red ;
}

.circl:hover{
    box-shadow: 0 0 0 20px silver ;
}

.circle:hover{
    box-shadow: 0 0 0 20px blue ;
}
.backgroundimage{

    background-image:url('img/us.jpg');
    background-repeat:no-repeat;
    background-size: 100% 150%;
    z-index:1

}

.opaquebg{
background-color: white;
opacity:0.7;
}


/* Ms in US style ends */

#wrapper {

 background-color: black;
background-size: 100%;
height: 150px;}

.test2{
position:fixed;
z-index:3;
}

#myCarousel{
width: 100%;
margin:0px;

}
.container{
width : 100%;
}
.contact{

 background-image: url(img/grey.jpg);
 background-size: 100%;
 background-repeat: no-repeat;
 background-size:cover;
 width: 100%;
      height : 100%;

}
.dropbtn {

     background-color : transparent;
    padding: 16px;
    font-size: 16px;

    border: none;
    cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.navbar-collapse {
  overflow: scroll;
}

/* 
@media screen and (max-width: 768px) {
  .navbar-collapse:before {
    content: "";
    display: block !important;
    height: 55px !important;
  }
}
 */

.navbar li:hover {
  background-color: black;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;

    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;

    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #666}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: black;
}

.navbar {
   background: rgba(0,0,0,0.2);
}
.navbar li a, .navbar .navbar-brand, .navbar li .dropdown {
	color: #fff !important;
}

.navi{
 position : relative;
 z-index:10000;
}
.navbar-nav li a{

color: white;
 z-index:10000;

}
.form-control{
width: 300px;

}
.form-control1{
width: 800px;

}
 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      height : 80%;
      margin: none;
      max-height: 650px !important;
  }
  .textarea {
    width: 50em;
    height: 4em;
}
#get{
color:white;
}
.address{
 background-color: black;
color:white;
}
.address footer{
color:grey;
}

.test{
padding : 0px;
 margin: none;
}
.test3{
padding : 0px;
 margin: none;
}
:target {
    border: 2px solid #D4D4D4;
    background-color: #e5eecc;
}
.navbar-header{
float: left;




}

textarea .form-control{
    width: 1000px;
}
#we{

  color:  #99bbff;
}
.forum{
  background-image: url(img/forum1.jpg);
}
.start{
  background-image: url(img/forumBanner.jpeg);
padding-top: 0px;
}
.start p{font-size: 27px;}

.box1
{
  padding: 10px;
        /*font-size: 32px;*/
        /*font-weight: bold;
        text-align: center;*/
        background: #33CC66;
    color: #fff;
    font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.box2
{
  padding: 10px;
        /*font-size: 32px;
        font-weight: bold;
        text-align: center;*/
        background: yellowgreen;
    color: #fff;
    font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
/*FAQ*/



/*faq1*/

.head1{
font-size: 30px;

}
.startAppAssist{
  background-image: url(img/forumBanner.jpeg);
 
}
