body{
	position: relative; /* required */
	background-image: url(darkback.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;	
}

.hr{
 border-width: 3px;
}
 
 div {
 	color:white;
    text-align: justify;
    text-justify: inter-word;
}

table{
   /* 
 height: 100%;
    width: 100%;
    margin:0;
    padding:0;
 */
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 0;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	position: relative;
	float: left;
}
table, td, th {border:#000 medium solid}